<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tinyurl.dao.UrlDao">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="urlModel">
        INSERT INTO `url`
        (
        `ORIGIN_URL`,
        `HASH`,
        `CREATE_TIME`,
        `EXPIRE_TIME`
        )
        VALUES
        (
        #{originUrl},
        #{hash},
        #{createTime},
        #{expireTime}
        )
    </insert>

    <insert id="insertWithId" parameterType="urlModel">
        INSERT INTO `url`
        (
        `ID`,
        `ORIGIN_URL`,
        `HASH`,
        `CREATE_TIME`,
        `EXPIRE_TIME`
        )
        VALUES
        (
        #{id},
        #{originUrl},
        #{hash},
        #{createTime},
        #{expireTime}
        )
    </insert>

    <select id="selectById" resultType="urlModel">
        SELECT * FROM `url` WHERE `ID`=#{_parameter}
    </select>

    <select id="selectByHash" resultType="urlModel">
        SELECT * FROM `url` WHERE `HASH`=#{_parameter}
    </select>

</mapper>